@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
    /* background-size */
    height: 100vh;
    /* background_flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6e9a0;
    background-image: url("/static/images/Circles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    padding: 0px 0px;
}

body p {
    font-family: "Inter", sans-serif;
}
.notice {
    margin: 0px 0px;
}
.notice_image {
    max-height: 50px;
}
#first-text {
    font-size: 13px;
    color: #7780a1;
    letter-spacing: 3px;
}

#second-text {
    color: #7780a1;
    font-size: 20px;
    letter-spacing: 0.2px;
}

#main_logo {
    background-image: url("/static/images/main_text.png");
    background-size: 100% 100%;
    width: 740px;
    height: 200px;
}

#input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* first-button */
.filebox {
    display: inline-block;
    font-size: 10px;
    vertical-align: center;
    border: #cbcbcb;
    border-radius: 10px;
    cursor: pointer;
}
/* 버튼에 포인터 적용 */
.filebox label {
    cursor: pointer;
}

.filebox input[type="file"] {
    /* input숨기기 */
    position: absolute;
    /* width: 1px;
    height: 1px; */
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/* second-button design */
#input-form input,
.filebox {
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.2px;
    color: #797979;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 5px #cbcbcb;
    cursor: pointer;
}
#input-form input {
    margin-top: 20px;
}
/* 버튼 호버 색상*/
.filebox:hover {
    background-color: #f6e9a0;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
