<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name=scaled"viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="This is Jaehong's website" />
        <title>HIM</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    </head>
    <body>
        <a href="/">
            <img class="main_logo" src="/static/images/title_1.png" />
        </a>
        <p id="first-text">IMAGE CONVERT SERVICE</p>
        <div id="main_logo"></div>
        <p id="second-text">convert into high quality</p>
        <!-- text notice image upload -->
        <p class="notice">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class='notice'>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </p>
        
        <form id="input-form" action="/" method="POST" enctype = "multipart/form-data" >
            <div class="filebox">
                <label for="input-image">이미지 선택</label>
                <input type="file" name="file" accept="image/*" id="input-image" />
            </div>
            <div>
                <input type="submit" value="고화질로 변환하기"/>
            </div>
        </form>
    </body>
</html>
